{% extends "main.html" %}

{% block content %}
<style>
    .md-sidebar--secondary:not([hidden]) {
        display: none;
    }

    .md-content__button {
        display: none;
    }

    h1 {
        display: none;
    }

    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .md-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
</style>

<div class="center-container">
    <h2>
        ERROR 404
    </h2>

<h3>
        <br>If you found this page from clicking on a link,
        <br>try searching what the page is about in the Search textbox
        <br>
        <br>
        Also consider <a href="../contact">letting us know about it</a>
        <br>
        so we can set up a redirect
        <br> 
    </h4>
    <a href="../" class="md-button">Return back</a>
</div>
{% endblock %}