{% extends "base.html" %}

{% block announce %}
    <strong>
        <span class="twemoji">
            {% include ".icons/material/hammer-screwdriver.svg" %}
        </span>
        Construction:
    </strong>
    <style>
      .md-nav--primary .md-nav__link[for=__toc] ~ .md-nav {
        display: none;
      }
    </style>
    The CTT wiki is under construction, for enthusiasts, check out the
    <a href="https://discord.gg/SQjE9qUmcD">CTT prototype Discord</a>
    and for the rest, see the
    <a href="https://discord.gg/CTT">main Discord</a>.
{% endblock %}