/* dark mode: override main header & tabs navigation */
[data-md-color-scheme="slate"] .md-header {
  background-color: #1e2029;
  border-bottom: 0.10rem solid var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] .md-tabs {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background-color: #2e2c3e;
}

/* light mode: override main header & tabs navigation */
[data-md-color-scheme="default"] .md-header {
  background-color: white;
  border-bottom: 0.10rem solid var(--md-accent-fg-color);
  color: black;
}

[data-md-color-scheme="default"] .md-tabs {
  color: black;
  background-color: white;
}

/* make the "View source of this page" and "Edit this page" only vieweable on hover */
.md-icon.md-content__button {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(.29, 1.01, 1, -0.68);
}

.md-icon.md-content__button:hover {
  opacity: 1;
}

/* the abomination Itself */
.md-nav__item--nested.md-nav__item--section.md-nav__item--active.md-nav__item>.md-nav>.md-nav__list>li.md-nav__item--nested.md-nav__item--section.md-nav__item>.md-nav {
  /* margin to the right does nothing, but just mentionning margin-left moves them to the right ??? */
  margin-left: 0rem !important;
  position: relative;
}

.md-nav__item--nested.md-nav__item--section.md-nav__item--active.md-nav__item>.md-nav>.md-nav__list>li.md-nav__item--nested.md-nav__item--section.md-nav__item>.md-nav::before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 8px;
  left: 0;
  width: 1px;
  opacity: 30%;
  background: var(--md-accent-fg-color);
}

/* hide this hideous creation when mobile mode activates */
@media (max-width: 1220px) {
  .md-nav__item--nested.md-nav__item--section.md-nav__item--active.md-nav__item>.md-nav>.md-nav__list>li.md-nav__item--nested.md-nav__item--section.md-nav__item>.md-nav::before {

    opacity: 0%;

  }
}

/* .md-footer {
  border-bottom: 0.10rem solid var(--md-accent-fg-color);
} */

/* Stretch content area */
.md-main__inner.md-grid {
  /* Default 61rem */
  max-width: 61rem;
}

.md-grid {
  /* Default 61rem */
  max-width: 61rem;
}

.md-typeset .admonition.image,
.md-typeset details.image {
  border-color: rgb(var(--main-color));
}

.md-typeset .image>.admonition-title,
.md-typeset .image>summary {
  background-color: rgba(var(--main-color), 0.1);
}

.md-typeset .image>.admonition-title::before,
.md-typeset .image>summary::before {
  background-color: rgb(var(--main-color));
  -webkit-mask-image: var(--md-admonition-icon--image);
  mask-image: var(--md-admonition-icon--image);
}


/* Makes click to copy have pointer cursor on hover */
.md-typeset [data-clipboard-text] {
  cursor: pointer;
}


/* le permalink toc */
.md-typeset .headerlink:hover,
.md-typeset [id]:target .headerlink {
  background-color: var(--md-accent-fg-color);
}

.md-typeset .headerlink {
  scale: 60%;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-color: var(--md-default-fg-color--lighter);
  background-size: 1em;
  -webkit-mask-size: 1em;
  mask-size: 1em;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  visibility: visible;
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7a5 5 0 0 0-5 5 5 5 0 0 0 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8v2m9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V17h4a5 5 0 0 0 5-5 5 5 0 0 0-5-5Z"/></svg>');
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7a5 5 0 0 0-5 5 5 5 0 0 0 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8v2m9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V17h4a5 5 0 0 0 5-5 5 5 0 0 0-5-5Z"/></svg>');
}